body,
html {
  font-family: 'Raleway', sans-serif;
  font-optical-sizing: auto;
  font-weight: normal;
  font-style: normal;

  height: 100%;
  width: 100%;
}

#lively {
  height: 100%;
  width: 100%;
}

.vue-slider .vue-slider-rail {
  @apply h-0.5;
}

.vue-slider-rail .vue-slider-process {
  @apply bg-black;
}

.vue-slider-rail .vue-slider-dot-handle {
  @apply bg-black relative shadow;
}

.vue-slider-rail .vue-slider-dot-handle:after {
  @apply bg-white absolute rounded-full;
  content: '';
  height: 40%;
  width: 40%;
  left: 30%;
  top: 30%;
}
