body, html {
  font-family: "Raleway", sans-serif;
  font-optical-sizing: auto;
  font-weight: normal;
  font-style: normal;

  height: 100%;
  width: 100%;
}

#lively {
  height: 100%;
  width: 100%;
}
  